{% extends 'IcseMembersBundle:Email:template.html.twig' %}

{% set to_embed = true %}

{% block content %}
<div id="editable" class="doceditor" contenteditable="true">
{% if email_body is defined %}
{{ email_body }}
{% else %}
<p>Dear ICSE,</p>

<h3>Next Rehearsal</h3>

<p>Our rehearsal this week will be...</p>

<p><strong>Monday 31st February<br />
6pm - 8:30pm<br />
The Great Hall</strong></p>

<h3>Next Social</h3>

<p>Our social this week will be...</p>

<p>Do <a href="mailto:icse@imperial.ac.uk" style="font-size: 12px;" target="_blank">get in touch</a> if you have any questions.</p>

<p>See you all on Friday!</p>

<p>ICSE love,</p>

<p><strong>{{ app.user.firstName }}</strong>
{% set committee_role = app.user.mostCurrentCommitteeRole %}
{% if committee_role is not null %}
<br /><em>ICSE {{ committee_role.positionName }}, {{ committee_role.startYear }}&ndash;{{ "%d" | format(committee_role.startYear + 1) | slice(-2) }}</em></p>
{% endif %}

{% if upcoming_rehearsals is not empty %}
<div id="email_upcoming_rehearsals">
<hr>
<h4>Upcoming Rehearsals</h4>
<ul>
    {% for r in upcoming_rehearsals %}
    {% set loc = r.getLocation() %}
    <li>{{ r.getStartsAt() | date('l d/m/Y, g:ia') }} &mdash; {{ loc ? loc.getName() : "Location TBC"}}</li>
    {% endfor %}
</ul>
</div>
{% endif %}


{% endif %}
</div>
{% endblock %}
