{% extends 'IcseMembersBundle:Email:template.html.twig' %} 

{% block content %}
<h1>Your Temporary Password</h1>

<p>Hi {{ member.firstName }}<p>

<p>
The password for your ICSE Online Account has been reset. You can now log in
by <a href="{{ url('IcseMembersBundle_account_settings') }}">clicking here</a> and entering the following details:
</p>

<ul>
  <li><strong>Username / Email:</strong> {% if member.username %}{{ member.username }} <strong>or</strong> {% endif %}{{ member.email }}</li>
  <li><strong>Password:</strong> {{ member.plainPassword }}</li>
</ul>

<p>
After logging in, we strongly encourage you to immediately change this password to a different one,
which you can do from the <a href="{{ url('IcseMembersBundle_account_settings') }}">Account Settings</a> page.
</p>

<p>Let us know if you have any problems.</p>

<p>ICSE love,<br>The ICSE Website</p>


{% endblock %}
