{% set width = 570 %}
{% set side_margin = 40 %}
{% set topbottom_margin = 15 %}
{% if to_embed is not defined %}{% set to_embed = false %}{% endif %}
{% if not to_embed %}
<!DOCTYPE HTML>
<html>
  <body>
{% endif %}
<table id="icse_email" {% if to_embed %}class="embedded"{% endif %} >
  <tr>
    <td>
      <table id="border_table" width="{{ width }}" >
        <tr>
          <td id="header_cell">
            <a href="http://www.union.ic.ac.uk/arts/stringensemble">
              <img height="100" title="Imperial College String Ensemble" alt="Imperial College String Ensemble" src="https://{{ app.request.host ~ asset('bundles/icsemembers/images/email_header.gif') }}">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <table style="margin-top:{{ topbottom_margin }}px;margin-bottom:{{ topbottom_margin }}px;margin-left:{{ side_margin }}px;margin-right:{{ side_margin }}px" width="{{ width - 2 * side_margin }}">
              <tr>
                <td id="content_cell">
                  {% block content %}
                  {{ content | raw }}
                  {% endblock %}
                </td>
              </tr>
              <tr>
                <td id="footer_cell">
                      Want to <a href="https://mailman.ic.ac.uk/mailman/listinfo/icse-talk">unsubscribe</a>? <a href="mailto:icse@imperial.ac.uk">Contact us</a>? Visit our <a href="http://www.union.ic.ac.uk/arts/stringensemble/" >website</a>? 
                </td>
              </tr> 
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% if not to_embed %}
  </body>
</html> 
{% endif %}