{% if firstInclude is not defined %}
{% set firstInclude = true %}
{% endif %}

<div class="event_list">
{% for event in events %}
  <div><div class=event_listing >
    {# Event Poster #}
    {% if event.getPoster() %}
    <a class=picture href="{{ path('IcsePublicBundle_event', event) }}" title="{{ event.getName() }}" >
      <img alt="" src="{{ path('IcsePublicBundle_resource', {'type':'images', 'file':event.getPoster().getFile(), 'size':'hpmainthumb'}) }}" />
    </a>
    {% endif %}
    <div class="details">
      {# Event Name #}
      <h3><a href="{{ path('IcsePublicBundle_event', event) }}">{{ event.getName() }}</a></h3>
      {# Event Time #}
      <div class="datetime">{{ event.startsAt | date("l jS F Y" ~ (event.isStartTimeKnown ? ", g:ia")) }}</div>
      {# Event Location #}
      {% if event.getLocation() %}
        <div class="location">{{ event.getLocation().getName() }}</div>
      {% endif %}
      {# Event Repertoire #}
      {% if not event.getPerformances().isEmpty() %}
      <ul class="repertoire">
        {% for performance in event.getPerformances() %}
        <li>{{ performance.getPiece().getComposer() }}: {{ performance.getPiece().getName() }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <a href="{{ path('IcsePublicBundle_event', event) }}">Find out more...</a>
    </div>
  </div></div>
{% endfor %}
</div>

{% if firstInclude %}
<script>
  $(document).ready(function(){
    $('.event_listing a').hover(function(){
        $(this).parents('.event_listing').parent().addClass('mouseover'); 
    }, function(){
        $(this).parents('.event_listing').parent().removeClass('mouseover'); 
    }); 
  })
</script>
{% endif %}
