{% extends (event.getStartsAt()|date('U') < 'tomorrow'|date('U'))?
'IcsePublicBundle:Events:past_events_year_template.html.twig':
'IcsePublicBundle:Events:future_events_template.html.twig'
%} 

{% set year = event.getStartsAt() | date('Y') %}
{% set breadcrumbs = [{label: event.getName(), url: path('IcsePublicBundle_event', event)}] %} 

{% set pageTitle = event.getName() %} 

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
  '@IcsePublicBundle/Resources/style/event.scss' 
  filter='compass,css_url_rewrite,?yui_css'
  output='bundles/icsepublic/css/event.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/icsepublic/lib/fancybox/jquery.fancybox.css') }}" />
{% endblock %}  

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/icsepublic/lib/fancybox/jquery.fancybox.js') }}"></script> 
{% endblock %}  

{% block content %}

<div id="TitleAndDate">
<h1>{{ event.getName() }}</h1>
{# Event Time #}
<div class="datetime">{{ event.getStartsAt() | date("l jS F Y, g:ia") |nl2br }}</div>
</div>

{% if event.getPoster() %}
<a class="poster view_full_image" href="{{ path('IcsePublicBundle_resource', {'type':'images', 'file':event.getPoster().getFile(), 'size':'enlarge'}) }}" title="{{ event.getName() }}" >
<img src="{{ path('IcsePublicBundle_resource', {'type':'images', 'file':event.getPoster().getFile(), 'size':'article'}) }}" />
</a>
{% endif %}

{# Event Repertoire #}
{% if not event.getPerformances().isEmpty() %}
<ul class="repertoire">
{% for performance in event.getPerformances() %}
<li>{{ performance.getPiece().getComposer() }}: {{ performance.getPiece().getName() }}</li>
{% endfor %}
</ul>
{% endif %}

{# Event Description #}
{% if event.getDescription() %}
    <h2>Information</h2>
    <div class="main_content">
    {{ event.getDescription() | raw }}
    </div>
{% else %}
    <p>Sorry, we don't have any more information just yet.</p>
{% endif %}


{# Map #}
{% if event.getLocation() %}
<div id="location">
  <h2>Location</h2>
  <div id=address>
    <h3>{{ event.getLocation().getName() }}</h3>
    <div>{{ event.getLocation().getAddress() | nl2br }}</div>
  </div>
  <div>{{ event.getLocation.getEmbedMap() | raw }}</div>
</div>
{% endif %}


<script>
  $('.view_full_image').fancybox({
    padding: 0,
    closeClick: true,
    openEffect:'elastic',
    closeEffect:'elastic',
    helpers: {
      orig: $(this),
      overlay: {
        css: {
          'background': 'rgba(45, 45, 45, 0.5)' 
        }
      }
    }
  });
</script> 

{% endblock %}
