{% extends 'IcsePublicBundle:News:template.html.twig' %}  
{% set pageTitle = article.headline %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/icsepublic/lib/fancybox/jquery.fancybox.css') }}" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/icsepublic/lib/fancybox/jquery.fancybox.js') }}"></script> 
{% endblock %}  

{% block content %}
<div id="news_article">
  <div id="news_head">
    <h1>{{ article.headline }}</h1>
    <h2>{{ article.subHead }}</h2>
  <div class="posted_at">Posted on {{ article.postedAt | date("l jS F Y g:ia") }}</div>
  </div>

  {% if article.picture %}
  <a class="article_pic view_full_image" href="{{ path('IcsePublicBundle_resource', {object: article.picture, size:'enlarge'}) }}" title="{{ article.headline }}" >
  <img src="{{ path('IcsePublicBundle_resource', {object: article.picture, 'size':'article'}) }}" />
  </a>
  {% endif %}

  <div class="main_content">
  {{ article.body | raw }}
  </div>

  <div class="posted_by">
    {{ article.postedBy ? article.postedBy.fullName : "" }}
    {% set committee_role = app.user.getMostCurrentCommitteeRole(article.postedAt) %}
    {% if committee_role is not null %}
      <span class="role">({{ committee_role.positionName }}, {{ committee_role.startYear }}&ndash;{{ "%d" | format(committee_role.startYear + 1) | slice(-2) }})</span>
    {% endif %}
  </div>
</div>

<script>
  $('.view_full_image').fancybox({
    padding: 0,
    closeClick: true,
    openEffect:'elastic',
    closeEffect:'elastic',
    helpers: {
      orig: $(this),
      overlay: {
        css: {
          'background': 'rgba(45, 45, 45, 0.5)' 
        }
      }
    }
  });
</script>  

{% endblock %}
