{% extends 'IcsePublicBundle:News:template.html.twig' %}  
{% set pageTitle = article.getHeadline() %} 

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/icsepublic/lib/fancybox/jquery.fancybox.css') }}" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/icsepublic/lib/fancybox/jquery.fancybox.js') }}"></script> 
{% endblock %}  

{% block content %}
<div id="news_article">
<div id="news_head">
  <h1>{{ article.getHeadline() }}</h1>
  <h2>{{ article.getSubHead() }}</h2>
<div class="posted_at">Posted on {{ article.getPostedAt() | date("l jS F Y g:ia") }}</div> 
</div>

{% if article.getPicture() %}
<a class="article_pic view_full_image" href="{{ path('IcsePublicBundle_resource', {object: article.picture, size:'enlarge'}) }}" title="{{ article.getHeadline() }}" >
<img src="{{ path('IcsePublicBundle_resource', {object: article.picture, 'size':'article'}) }}" />
</a> 
{% endif %}

<div class="main_content">
{{ article.getBody() | raw }}
</div>

<div class="posted_by">{{ article.getUpdatedBy().getFullName() }}</div>
</div>

<script>
  $('.view_full_image').fancybox({
    padding: 0,
    closeClick: true,
    openEffect:'elastic',
    closeEffect:'elastic',
    helpers: {
      orig: $(this),
      overlay: {
        css: {
          'background': 'rgba(45, 45, 45, 0.5)' 
        }
      }
    }
  });
</script>  

{% endblock %}
