{% extends 'IcseMembersBundle:Admin:template.html.twig' %}

{% set pageTitle = 'Send Email' %}  
{% set currentSubSection = 'sendemail' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/icsemembers/lib/tagit/css/jquery.tagit.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.storageapi.min.js') }}"></script>
<script src="{{ asset('bundles/icsemembers/lib/tagit/js/tag-it.min.js') }}"></script>
{% endblock javascripts %}

{% block content %}
{{ parent() }}

<ul class="email_buttons">
    {% spaceless %}
    <li><button class="preview" type=button>Preview</button></li>
    <li><button class="send" type=button data-base-url="{{ path('IcseMembersBundle_sendemail', {'arg': 'send'}) }}">Send</button></li>
    <li><span class="not_button saved_indicator">Saved</span></li>
    <li><img hidden class="not_button loading_spinner" src="{{ asset('bundles/icsemembers/images/loading.gif') }}" /></li>
    {% endspaceless %}
</ul>


<div id="email_options_pane">
{{ form_start(form) }}
    <div id="subject_row">
        <label class="row_label">Subject</label>
        <div class="row_body">
            {{ form_widget(form.email_subject, {id: 'email_subject'}) }}
        </div>
    </div>

    <div id="mailing_list_row">
        <label class="row_label">Mailing List</label>
        <div class="row_body">
            {% spaceless %}
            {% for opt in form.mailing_list %}
                {{ form_widget(opt) }}
                {{ form_label(opt) }}
            {% endfor %}
            {% endspaceless %}
        </div>
    </div>

    <div id="send_to_row">
        <label class="row_label">Send</label>
        <div class="row_body">
            {% spaceless %}
                {% for opt in form.send_to_option %}
                    {{ form_widget(opt) }}
                    {{ form_label(opt) }}
                {% endfor %}
            {{ form_widget(form.send_to_address, {id:'send_to_address'}) }}
            {% endspaceless %}
        </div>
    </div>
{{ form_end(form) }}
</div>

{% include 'IcseMembersBundle:Email:email_editable.html.twig' %}

<div id="preview_dialog" data-base-url="{{ path('IcseMembersBundle_sendemail', {'arg': 'preview'}) }}"></div>

{% javascripts
'@IcseMembersBundle/Resources/script/doceditor.js'
'@IcseMembersBundle/Resources/script/emailcomposer.js'
filter='?uglifyjs2'
output='bundles/icsemembers/js/emailcomposer.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
