{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Send Email' %}  
{% set currentSubSection = 'sendemail' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
    '@IcseMembersBundle/Resources/style/email.scss' 
    filter='compass,css_url_rewrite,?yui_css'
    output='bundles/icsemembers/css/email.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock stylesheets %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/icsemembers/lib/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/icsemembers/lib/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.storageapi.min.js') }}"></script>
{% endblock javascripts %}

{% block content %}

<h1>Send Email</h1>

<ul class="email_buttons">
    {% spaceless %}
    <li><button class="preview" type=button>Preview</button></li>
    <li><span class="not_button saved_indicator">Saved</span></li>
    <li><img hidden class="not_button loading_spinner" src="{{ asset('bundles/icsemembers/images/loading.gif') }}" /></li>
    {% endspaceless %}
</ul>

{% include 'IcseMembersBundle:Email:email_editable.html.twig' %}

<iframe id="preview_frame" style="min-width: 95%;height:100%;" data-base-url="{{ path('IcseMembersBundle_sendemail', {'arg': 'preview'}) }}"></iframe>

{% javascripts
'@IcseMembersBundle/Resources/script/emailcomposer.js'
filter='?yui_js'
output='bundles/icsemembers/js/emailcomposer.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
