{% extends 'IcseMembersBundle:Admin:template.html.twig' %}

{% set entityPlural = entityPlural | default(entitySingular ~ 's') %}
{% set entitySingularTitle = entitySingular | title | replace({' ': '&nbsp;'}) %}
{% set entityPluralTitle = entityPlural | title | replace({' ': '&nbsp;'}) %}
{% set entityIdentifier = entitySingular | replace(' ', '_') %}
{% set readOnly = readOnly | default(false) %}
{% set enable_social_net = enable_social_net | default(false) %}
{% set allow_drop_files = allow_drop_files | default(false) %}
{% set create_by_upload = create_by_upload | default(false) %}

{% form_theme form _self %}

{% block _form_plain_password_row %}
    <div class="new_password_fields">
      {{ form_row(form) }} 
    </div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.timepicker/1.3.7/jquery.timepicker.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="//cdn.jsdelivr.net/jquery.timepicker/1.3.7/jquery.timepicker.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.8.3/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/masonry/3.1.5/masonry.min.js"></script>
<script src="//cdn.jsdelivr.net/imagesloaded/3.1.6/imagesloaded.min.js"></script>
<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.lazyload/1.9.3/jquery.lazyload.min.js"></script>
{% endblock %}

{% block content %}
{% if allow_drop_files %}
<div class="drop_mask" data-enabled="true"></div>
{% endif %}
{{ parent() }}

<ul class="entity_main_buttons">
{% spaceless %}
    <li><button class="unselectall show_if_any_selected" type=button><i class="fa fa-arrow-left"></i></button></li>
    <li><button class="refresh show_if_none_selected" type=button>Refresh</button></li>
    {% if not readOnly %}
        {% if create_by_upload %}
            <li><input class="create show_if_none_selected" type="file" multiple="multiple" title="Choose files" data-label="Add&nbsp;{{ entityPluralTitle | raw }}"></li>
        {% else %}
            <li><button class="create show_if_none_selected" type=button>Add&nbsp;{{ entitySingularTitle | raw }}</button></li>
        {% endif %}
    <li><button class="edit show_if_one_selected" type=button>Edit</button></li>
    <li><button class="delete show_if_any_selected" type=button>Delete</button></li>
    {% endif %}
    {% block extra_entity_main_buttons %}{% endblock %}

    {% if allow_drop_files %}
        <li class="dragndrop_instruction show_if_none_selected">or drag and drop files</li>
    {% endif %}

    <li><img hidden class="not_button loading_spinner" src="{{ asset('bundles/icsemembers/images/loading.gif') }}" /></li>
{% endspaceless %}
</ul>

{% block extra_controls %}{% endblock extra_controls %}

<script>
  $('button.show_if_any_selected, button.show_if_one_selected').hide();
  $('.table_buttons button').button();
  var currentPath = "{{ path(app.request.get('_route')) }}";
  var entitySingular = "{{ entitySingular }}";
  var entityPlural = "{{ entityPlural }}";
  var entitySingularTitle = "{{ entitySingularTitle }}";
  var entityPluralTitle = "{{ entityPluralTitle }}";
  var facebookAppId = '{{ facebook_app_id }}';
  var facebookPageId = '{{ facebook_page_id }}';
  var enable_social_net = {{ enable_social_net ? 'true' : 'false' }};
</script>

<div id="entity_instance_list_container">
    {{ render(controller( app.request.attributes.get("_controller"), {arg: 'list'})) }}
</div>

{% if not readOnly %}

<div hidden id=edit_dialog >
    {{ form_start(form, {attr: {id: 'edit_form', class: ['standard', entityIdentifier] | join(' ') },}) }}
    {% block edit_form_fields %}{% endblock %}
    {{ form_rest(form) }}
    <input hidden type="submit">
    {{ form_end(form) }}
</div>

<div hidden id=delete_dialog title="Delete {{ entitySingularTitle }}" >
<p><span class="ui-icon ui-icon-alert"></span>
Are you sure you want to permanently delete all of the selected {{ entityPlural }}?</p>
<p>Note: if deletion is not successful, it may be necessary to first remove any associations with other entities.</p>
</div>

{% endif %}

{% if enable_social_net %}
    <div id="fb-root"></div>
{% endif %}

{% block extra_content %}{% endblock %}

{% javascripts
  '@IcseMembersBundle/Resources/script/doceditor.js'
  '@IcseMembersBundle/Resources/script/entityadmin.js'
  filter='?uglifyjs2'
  output='bundles/icsemembers/js/entityadmin.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
