{% set serial_groups = table_content.serial_groups is defined ? table_content.serial_groups : [] %}
{% set serial_groups = ['Default'] | merge(serial_groups) %}

<table class=admintable>
  <thead>
    <tr>
      {% if row_prefixes is defined %}
      <th></th>
      {% endif %}
      {% for column in table_content.columns %}
      <th>{{ column.heading }}</th>
      {% endfor %}
    </tr>
  </thead>
  
  <tbody>
    {% for entity in table_content.entities %}

      {% set row_classes = [] %}
      {% if entity.getStartsAt() is defined and date(entity.getStartsAt()) > date("today") %}
          {% set row_classes = row_classes | merge(['future_date']) %}
      {% endif %}
      {% if entity.getUpdatedAt() is defined and date(entity.getUpdatedAt()) > date("3 seconds ago") %}
          {% set row_classes = row_classes | merge(['just_updated']) %}
      {% endif %}

      <tr data-entity="{{ entity | serialize('json', serialization_context().setGroups(serial_groups)) }}" class="{{ row_classes | join(' ') }}">
        {% if row_prefixes is defined %}
        <td>{{ rowPrefixes }}</td>
        {% endif %}
        {% for column in table_content.columns %}
        <td>{{ entity | getCell(column) | raw }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
