{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Account Settings' %} 
{% set currentSubSection = 'accountsettings' %}  

{% block content %}

<h1>Account Settings</h1>

<h2>Change Email Address</h2>
{% if ceResponse['success'] is defined %}
<p class="success">{{ ceResponse['success'] }}</p>
{% endif %}
<p>
Your email address is currently set to {{ email }}. You can use this address to login to the members
area, and we may also use it for contacting you.
</p>
<form method="post" action="">
  <div>
    {% if ceResponse['newemail'] is defined %}
    <p class="error_wide">{{ ceResponse['newemail'] }}</p>
    {% endif %}
    <div class="field_row">
      <label for="form_new_email">New email address</label>
      <input type="email" id="form_new_email" name="new_email" required="required" />
    </div>
  </div>
  <input type="hidden" name="form_id" value="ce" /> 
  <input type="submit" value="Change Email Address"/>
</form>

<h2>Change Password</h2>

{% if cpResponse['success'] is defined %}
<p class="success">{{ cpResponse['success'] }}</p>
{% endif %}

<p>
You can either log in using your Imperial College password (in which case we will not store
your password in any way) or you can create a new password to use specifically for the ICSE website.
{% if ImperialPasswd == true %}
You are currently using your Imperial College password.
{% else %}
You are currently using a separate ICSE password.
{% endif %}
</p>

<form method="post" action="">
  <div>
    {% if cpResponse['oldpass'] is defined %}
    <p class="error_wide">{{ cpResponse['oldpass'] }}</p>
    {% endif %}
    <div class="field_row">
      <label for="form_old_password">Old Password</label>
      <input type="password" id="form_old_password" name="old_password" required="required" />
    </div>
  </div>
  <div>
    {% if cpResponse['icsepass'] is defined %}
    <p class="error_wide">{{ cpResponse['icsepass'] }}</p>
    {% endif %}
    <div class="field_row">
      <label>Create a new ICSE password?</label>
      <div class="choices_list" id="form_pass_type">
        <input type="radio" id="form_icse_passwd" name="icse_passwd" required="required" value="2" {% if cpResponse['passtype'] is defined and cpResponse['passtype'] == 2 %}checked="yes"{% endif %}/>
        <label for="form_icse_passwd" class=" required">Yes, make a separate password for ICSE.</label>
        <input type="radio" id="form_ic_passwd" name="icse_passwd" required="required" value="1" {% if cpResponse['passtype'] is defined and cpResponse['passtype'] == 1 %}checked="yes"{% endif %}/>
        <label for="form_ic_passwd" class=" required">No, I'll use my Imperial College password.</label>
      </div>
    </div>
  </div>
  <div class="show_if_newpass">
    {% if cpResponse['newpass'] is defined %}
    <p class="error_wide">{{ cpResponse['newpass'] }}</p>
    {% endif %}
    <div class="field_row">
      <label for="form_new_password">Choose a new password</label>
      <input type="password" id="form_new_password" name="new_password" required="required" />
    </div>
  </div>
  <div class="show_if_newpass">
    <div class="field_row">
      <label for="form_new_password_again">Enter your new password again</label>
      <input type="password" id="form_new_password_again" name="new_password_again" required="required" />
    </div>
  </div>
  <input type="hidden" name="form_id" value="cp" /> 
  <input type="submit" value="Change Password"/>
</form>

<script>
  var enableDisablePasswd = function(slideTime){
    if ($('#form_icse_passwd').is(':checked')){
      $('#form_new_password, #form_new_password_again').attr('required', 'required');
      $('.show_if_newpass').slideDown(slideTime);
    } else {
      $('#form_new_password, #form_new_password_again').removeAttr('required');
      $('.show_if_newpass').slideUp(slideTime);
    }
  }
  enableDisablePasswd(0);
  $('#form_pass_type').change(10, enableDisablePasswd);
</script>

{% endblock %}
