{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Account Settings' %} 
{% set currentSubSection = 'accountsettings' %}  

{% block content %}

<h1>Account Settings</h1>

<h2>Change Email Address</h2>

{% if "email" in successes %}
<p class="success">Your email address was successfully changed</p>
{% endif %}

<p class="main_content">
Your email address is currently set to <strong>{{ user.email }}</strong>. You can use this address to login to the members
area, and we may also use it for contacting you.
</p>

{{ form_start(email_addr_form, {attr: {class: 'standard account-settings' }}) }}
{{ form_widget(email_addr_form) }}
{{ form_end(email_addr_form) }}

<h2>Change Password</h2>

{% if "password" in successes %}
<p class="success">Your password was successfully changed</p>
{% endif %}

<p class="main_content">
You can either log in using your Imperial College password (in which case we will not store
your password in any way) or you can create a new password to use specifically for the ICSE website.
{% if user.password is null %}
You are currently using your <strong>Imperial College password</strong>.
{% else %}
You are currently using a <strong>separate ICSE password</strong>.
{% endif %}
</p>

{{ form_start(password_form, {attr: {class: 'standard account-settings' }}) }}
  {{ form_errors(password_form) }}

  {{ form_row(password_form.old_password) }}
  {{ form_row(password_form.password_operation) }}
  <div id="new_password_fields">
  {{ form_row(password_form.plain_password) }}
  </div>
{{ form_end(password_form) }}

<script>
  (function(){

    var $pass_op_section = $('#password_password_operation');
    var $icse_pass_opt     = $pass_op_section.find('input[value={{ constant('PASSWORD_SET', user) }}]');
    var $new_pass_section = $('#new_password_fields');

    var enableDisablePasswd = function(slideTime){
      if ($icse_pass_opt.is(':checked')){
        $new_pass_section.find('input').attr('required', 'required');
        $new_pass_section.slideDown(slideTime);
      } else {
        $new_pass_section.find('input').removeAttr('required');
        $new_pass_section.slideUp(slideTime);
      }
    };
    enableDisablePasswd(0);
    $pass_op_section.change(10, enableDisablePasswd);

  })();
</script>

{% endblock %}
