{% extends 'IcseMembersBundle:Default:template.html.twig' %}

{% set pageTitle = 'Calendar' %}  
{% set currentSubSection = 'calendar' %}  

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" /> 
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
{% endblock %}

{% block content %}

<h1>Calendar</h1>

<div id="calendar_div"></div>


<h2>Add this to your personal calendar</h2>

{% set cal_url = 'webcal://' ~ app.request.httpHost ~ path('IcsePublicBundle_members_cal_feed') %}

<a id="add_to_cal_button" href="{{ cal_url }}" target="_blank">Add to Calendar</a>
<a id="add_google_cal_button" href="https://www.google.com/calendar/render?cid={{ cal_url }}" target="_blank"><img src="//www.google.com/calendar/images/ext/gc_button6.gif" border=0></a>

<script>
var onNavColumnToggle = function() {
    $('#calendar_div').fullCalendar('render');
}

$(document).ready(function() {

    $('#add_to_cal_button').button();


    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();


    $('#calendar_div').fullCalendar({
        defaultView: 'agendaWeek',
        height: 600,
        header: {
            left: 'title',
            center: 'prev,today,next',
            right: 'month,agendaWeek',
        },
        allDaySlot: false,
        firstHour: 18,
        firstDay: 1,
        // theme: true,
        titleFormat: {
            month: 'MMMM yyyy',
            week: "dS[ MMMM][ yyyy]{ '&#8211;' dS MMMM yyyy}",
            day: 'dddd, MMM d, yyyy'
        },
        columnFormat: {
            month: 'ddd',    // Mon
            week: 'ddd d/M', // Mon 9/7
            day: 'dddd d/M'  // Monday 9/7
        },
        timeFormat: 'h(:mm)tt',
        eventSources: [
            {
                events: {{ rehearsals | json_encode() | raw }},
                color: '#9D6830',
                textColor: 'black'
            },
            {
                events: {{ events | json_encode() | raw }},
                color: '#AB79FE',
                textColor: 'black'
            }
        ]
    })

});
</script>

{% endblock %}
