{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentSection = 'members' %}
{% set body_class = body_class | default("members-main") %}

{% set default_group = {role: 'ROLE_USER'} %}

{% set members_nav_items = {
        __main__:            {},
        home:                {label: 'Home',               fa_icon:'fa-home',           url: path('IcseMembersBundle_home')},
        newsletters:         {label: 'Newsletters',        fa_icon:'fa-newspaper-o',    url: path('IcseMembersBundle_past_newsletters')},
        calendar:            {label: 'Calendar',           fa_icon:'fa-calendar',       url: path('IcseMembersBundle_calendar')},
        practice_parts:      {label: 'Practice Parts',     fa_icon:'fa-file-text-o',    url: path('IcseMembersBundle_practice_parts')},
        __admin__:           {label: 'Admin', role: 'ROLE_ADMIN'},
        rehearsaladmin:      {label: 'Rehearsals',         fa_icon:'fa-calendar-o',     url: path('IcseMembersBundle_rehearsaladmin')},
        eventadmin:          {label: 'Events',             fa_icon:'fa-ticket',         url: path('IcseMembersBundle_eventadmin')},
        newsadmin:           {label: 'News',               fa_icon:'fa-globe',          url: path('IcseMembersBundle_newsadmin')},
        musicadmin:          {label: 'Music Library',      fa_icon:'fa-music',          url: path('IcseMembersBundle_musicadmin')},
        venueadmin:          {label: 'Venues',             fa_icon:'fa-building-o',     url: path('IcseMembersBundle_venueadmin')},
        images:              {label: 'Image Library',      fa_icon:'fa-picture-o',      url: path('IcseMembersBundle_imageadmin')},
        sendemail:           {label: 'Send Email',         fa_icon:'fa-envelope-o',     url: path('IcseMembersBundle_sendemail')},
        signuplist:          {label: 'Signups',            fa_icon:'fa-bullhorn',       url: path('IcseMembersBundle_signuplist')},
        __superadmin__:      {label: 'Super Admin', role: 'ROLE_SUPER_ADMIN'},
        memberslist:         {label: 'Members List',       fa_icon:'fa-users',          url: path('IcseMembersBundle_membersadmin')},
        committeelist:       {label: 'Committee',          fa_icon:'fa-university',     url: path('IcseMembersBundle_committee_edit')},
        sitedev:             {label: 'Site Dev',           fa_icon:'fa-wrench',         url: path('IcseMembersBundle_site_dev')},
        __account__:         {label: 'User: ' ~ app.user.fullName},
        myprofile:           {label: 'My Profile',         fa_icon:'fa-user',           url: path('IcseMembersBundle_my_profile'), role: 'ROLE_HAVE_PROFILE'},
        accountsettings:     {label: 'Settings',           fa_icon:'fa-cogs',           url: path('IcseMembersBundle_account_settings')},
        logout:              {label: 'Logout',             fa_icon:'fa-sign-out',       url: path('IcseMembersBundle_logout')},
        exitimpersonation:   {label: 'Exit Impersonation',                              url: path('IcseMembersBundle_home', {_switch_user: '_exit'}), role: 'ROLE_PREVIOUS_ADMIN'},
} %}
        {#__devel__:           {label: 'In Development', role: 'ROLE_SUPER_ADMIN'},#}

{% set page_nav_item = (currentSubSection in members_nav_items|keys) ? members_nav_items[currentSubSection] : null %}
{% if page_nav_item is not null %}
{% set pageTitle = pageTitle | default(page_nav_item.label) %}
{% endif %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
    '@IcseMembersBundle/Resources/style/main.scss'
    '@IcseMembersBundle/Resources/style/upload.scss'
    filter='compass,css_url_rewrite,?uglifycss'
    output='bundles/icsemembers/css/main.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets
    '@IcseMembersBundle/Resources/style/email.scss'
    filter='compass,css_url_rewrite,?uglifycss'
    output='bundles/icsemembers/css/email.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" type="text/css" media="all" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/humanity/jquery-ui.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.mobile.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.cookie.min.js') }}"></script>
<script src="//cdn.jsdelivr.net/jquery.waypoints/2.0.5/waypoints.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.waypoints/2.0.5/shortcuts/sticky-elements/waypoints-sticky.min.js"></script>
{% endblock %}

{% block header_to_footer %}

<a hidden id="bundles_basedir" href="{{ asset('bundles/') }}"></a>

<script>
    (function(){

        var transition_event = 'transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd';

        $.fn.promiseOnTransitionEnd = function (){
            var obj = $(this);
            var dfd = $.Deferred();
            obj.on(transition_event, function(e){
                if ($(e.target).is(obj)) {
                    dfd.resolveWith(this);
                    $(this).off(transition_event);
                }
            });
            return dfd.promise();
        }

        $.fn.removeTransitionClass = function(class_name){
            $(this).removeClass(class_name);
            return $(this).promiseOnTransitionEnd();
        };

        $.fn.addTransitionClass = function(class_name){
            $(this).addClass(class_name);
            return $(this).promiseOnTransitionEnd();
        };
    })();
</script>

<div id="members-section-body">
    <nav class="members">
        <ul>
            {# ICSE Resources #}
            <li id="nav_col_head">
                <span>
                    Members Area
                    <i title="Hide/Show" class="hide-button fa fa-arrow-left"></i>
                </span>
            </li>
            {% set this_group = default_group %}
            {% for item_id, item in members_nav_items %}
                {% set is_header = item_id starts with '__' %}
                {% if is_header %}
                    {% set this_group = default_group | merge(item) %}
                {% endif %}
                {% if is_granted(this_group.role) and (item.role is not defined or is_granted(item.role)) %}
                    {% if is_header %}
                        {% if this_group.label is defined %}
                            <li class="category"><span>{{ this_group.label }}</span></li>
                        {% endif %}
                    {% else %}
                        <li>
                            <a {{ item_id == currentSubSection ? 'class=current' }} href="{{ item.url }}">
                                <span>
                                    {% if item.fa_icon is defined %}
                                        <i class="fa fa-fw {{ item.fa_icon }}"></i>
                                    {% endif %}
                                    {{ item.label }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="hidden-cover">
            <div class="label">Menu</div>
        </div>
    </nav>
    <section class="members-main">
        {% block content %}
            {% if pageTitle is defined %}
                <h1>
                    {%- if page_nav_item.fa_icon is defined %}<i class="fa fa-fw {{ page_nav_item.fa_icon }}"></i>{% endif %}
                    {{ pageTitle }}
                </h1>
            {% endif %}
        {% endblock %}
    </section>
</div>
<script>
    $(document).ready(function(){

        var members_nav = $('nav.members');
        var nav_col_enabled = true;

        if(typeof onNavColumnToggle != 'function'){
            window.onNavColumnToggle = function(){};
        }

        function hideNavColumn(){
            if (nav_col_enabled) {
                nav_col_enabled = false;
                members_nav.addTransitionClass("hidden").done(onNavColumnToggle);
            }
        }
        function showNavColumn(){
            if (!nav_col_enabled) {
                nav_col_enabled = true;
                members_nav.removeTransitionClass("hidden").done(onNavColumnToggle);
            }
        }
        members_nav.find('.hide-button').click(function(){
            nav_col_enabled ? hideNavColumn() : showNavColumn();
        });
        members_nav.bind('swipeleft', hideNavColumn);
        members_nav.bind('swiperight', showNavColumn);
        members_nav.find('.hidden-cover').click(showNavColumn);

        $.cookie('last_members_page', '{{ app.request.attributes.get('_route') }}', { expires: 14, path: '/' });
    })
</script>
{% endblock %}
