{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentPage = 'members' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/icsemembers/css/main.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/humanity/jquery-ui.css" /> 
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script> 
{#
<script src="{{ asset('bundles/icsepublic/js/effects.core.js') }}"></script> 
<script src="{{ asset('bundles/icsepublic/js/jquery-ui-git') }}"></script>  
#}
{% endblock %}

{% block header_to_footer %}
<div id="nav_column">
  <div id="hidden_nav_col_edge"><div>Menu</div></div>
  <ul>
    {# ICSE Resources #}
    <li id="nav_col_head">Members Area<img id="hide_nav_col_button" src="{{ asset('bundles/icsemembers/images/leftarrow.png') }}" /></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Practice Parts</a></li>

    {# Admin #}
    {% if is_granted('ROLE_ADMIN') %}
    <li class="category">Admin</li>
    <li><a href="#">Members List</a></li>
    <li><a href="#">Music Library</a></li>
    <li><a href="{{ path('IcseMembersBundle_image_uploads') }}">Photos and Images</a></li>
    <li><a href="#">Site Text</a></li>
    {% endif %}

    {# Super Admin #}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="category">Super Admin</li>
    <div id="confirm_migrateDB" title="Perform Database Migration?" hidden=hidden>
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 0 0;"></span>
      WARNING! You are about to execute a database migration that could result in schema
      changes and data lost. Are you sure you wish to continue?</p>
    </div>
    <li><a href="" id="migrateDB">Migrate DB</a></li>
    <script>
      $('#confirm_migrateDB').dialog({
        autoOpen: false,
        resizable: false,
        modal: true,
        buttons : {
          "Yes" : function(){window.location.href = "{{ path('IcseMembersBundle_migrateDB') }}";},
          "No" : function(){$(this).dialog("close");}
        }
      });

      $('#migrateDB').click(function(e){
        e.preventDefault(); 
        $('#confirm_migrateDB').dialog('open');
      })
    </script>
    {% endif %}

    {# Account settings #}
    <li class="category">Account: {{ app.user.getFullName() }}</li>
    <li><a href="{{ path('IcseMembersBundle_account_settings') }}">Settings</a></li>
    <li><a href="{{ path('IcseMembersBundle_logout') }}">Logout</a></li>
  </ul>
</div>
<div id="section_container">
<section>
{% block content %}
{% endblock %}
</section>
</div>
<script>
  $(document).ready(function(){
    var nav_col_enabled = true;
    var nav_col_transition_time = 400;
    $('#hide_nav_col_button, #hidden_nav_col_edge').click(function(){
      if (nav_col_enabled) {
        $('#above_footer').addClass("nav_col_hidden"); 
        $('#hide_nav_col_button').addClass("rotate-180");
        nav_col_enabled = false;
      }
      else {
        $('#above_footer').removeClass("nav_col_hidden"); 
        $('#hide_nav_col_button').removeClass("rotate-180");
        nav_col_enabled = true;
      }
    });
  })
</script>
{% endblock %}
