{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentSection = 'members' %}

{% set members_nav_items = [
            {id: 'main', items: [
                            {label: 'Home', id: 'home', url: path('IcseMembersBundle_home')},                           
                            {label: 'Calendar', id: 'calendar', url: path('IcseMembersBundle_calendar')},                           
                            {label: 'Practice Parts', id: 'practice_parts', url: path('IcseMembersBundle_practice_parts')},                           
            ]},
            {label: 'Admin', id: 'admin', items: [
                            {label: 'Rehearsals', id: 'rehearsaladmin', url: path('IcseMembersBundle_rehearsaladmin')},
                            {label: 'Venues', id: 'venueadmin', url: path('IcseMembersBundle_venueadmin')},
                            {label: 'Signups', id: 'signuplist', url: path('IcseMembersBundle_signuplist')},
            ]},
            {label: 'Super Admin', id: 'superadmin', items: [
                            {label: 'Members List', id: 'memberslist', url: path('IcseMembersBundle_members')},
                            {label: 'Site Dev', id: 'sitedev', url: path('IcseMembersBundle_site_dev')},                           
                            {label: 'Music Library', id: '', url: '#'},                           
                            {label: 'Photos and Images', id: 'images', url: path('IcseMembersBundle_image_uploads')},                           
            ]},
            {label: 'Account: '~app.user.getFullName(), id: 'account', items: [
                            {label: 'Settings', id: 'accountsettings', url: path('IcseMembersBundle_account_settings')},                           
                            {label: 'Logout', id: '', url: path('IcseMembersBundle_logout')},                           
            ]},
            {id: 'impersonation', items: [
                            {label: 'Exit Impersonation', id: '', url: path('IcseMembersBundle_home', {_switch_user: '_exit'})},                           
            ]},
] %} 

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
  '@IcseMembersBundle/Resources/style/main.scss'
  '@IcseMembersBundle/Resources/style/upload.scss'
  filter='compass,css_url_rewrite,?yui_css'
  output='bundles/icsemembers/css/main.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %} 
<link rel="stylesheet" type="text/css" media="all" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/humanity/jquery-ui.css" /> 
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.mobile.custom.min.js') }}"></script> 
{#<script src="{{ asset('bundles/icsepublic/lib/js/jquery.ui.touch-punch.min.js') }}"></script> #}
{#<script src="{{ asset('bundles/icsepublic/lib/js/jquery.touchToClick.min.js') }}"></script>#}
{% endblock %}

{% block header_to_footer %}
<div id="nav_column">
  <div id="hidden_nav_col_cover"><div>Menu</div></div>
  <ul>
    {# ICSE Resources #}
    <li id="nav_col_head">Members Area<img title="Hide/Show" id="hide_nav_col_button" src="{{ asset('bundles/icsemembers/images/leftarrow.png') }}" /></li>
    {% for category in members_nav_items %}
      {% if not (    (category.id == 'admin' and not is_granted('ROLE_ADMIN'))
                  or (category.id == 'superadmin' and not is_granted('ROLE_SUPER_ADMIN'))
                  or (category.id == 'impersonation' and not is_granted('ROLE_PREVIOUS_ADMIN'))
                ) %}
        {% if category.label is defined %}
          <li class="category">{{ category.label }}</li>
        {% endif %}
        {% for item in category.items %}
          <li><a {% if item.id == currentSubSection %}class=current{% endif %} href="{{ item.url }}">{{ item.label }}</a></li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
<div id="section_container">
<section>
{% block content %}
{% endblock %}
</section>
</div>
<script>
  $(document).ready(function(){
    var nav_col_enabled = true;
    function hideNavColumn(){
        $('#above_footer').addClass("nav_col_hidden"); 
        $('#hide_nav_col_button').addClass("rotate-180");
        nav_col_enabled = false;
    }
    function showNavColumn(){
        $('#above_footer').removeClass("nav_col_hidden"); 
        $('#hide_nav_col_button').removeClass("rotate-180");
        nav_col_enabled = true;
    }
    $('#hide_nav_col_button, #hidden_nav_col_cover').click(function(){
      if (nav_col_enabled) {
        hideNavColumn();
      }
      else {
        showNavColumn();
      }
    });
    $('#nav_column li').bind('swipeleft', hideNavColumn);
    $('#hidden_nav_col_cover').bind('swiperight', showNavColumn);
  })
</script>
{% endblock %}
