{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentSection = 'members' %}

{% set default_group = {role: 'ROLE_USER'} %}

{% set members_nav_items = {
        __main__:            {},
        home:                {label: 'Home',               fa_icon:'fa-home',           url: path('IcseMembersBundle_home')},
        calendar:            {label: 'Calendar',           fa_icon:'fa-calendar',       url: path('IcseMembersBundle_calendar')},
        practice_parts:      {label: 'Practice Parts',     fa_icon:'fa-file-text-o',    url: path('IcseMembersBundle_practice_parts')},
        __admin__:           {label: 'Admin', role: 'ROLE_ADMIN'},
        rehearsaladmin:      {label: 'Rehearsals',         fa_icon:'fa-calendar-o',     url: path('IcseMembersBundle_rehearsaladmin')},
        venueadmin:          {label: 'Venues',             fa_icon:'fa-building-o',     url: path('IcseMembersBundle_venueadmin')},
        signuplist:          {label: 'Signups',            fa_icon:'fa-bullhorn',       url: path('IcseMembersBundle_signuplist')},
        __devel__:           {label: 'In Development', role: 'ROLE_SUPER_ADMIN'},
        eventadmin:          {label: 'Events',             fa_icon:'fa-ticket',         url: path('IcseMembersBundle_eventadmin')},
        sendemail:           {label: 'Email',              fa_icon:'fa-envelope-o',     url: path('IcseMembersBundle_sendemail')},
        images:              {label: 'Images',             fa_icon:'fa-picture-o',      url: path('IcseMembersBundle_image_uploads')},
        musiclibrary:        {label: 'Music Library',      fa_icon:'fa-music',          url: '#'},
        __superadmin__:      {label: 'Super Admin', role: 'ROLE_SUPER_ADMIN'},
        memberslist:         {label: 'Members List',       fa_icon:'fa-users',          url: path('IcseMembersBundle_members')},
        committeelist:       {label: 'Committee',          fa_icon:'fa-university',     url: path('IcseMembersBundle_committee_edit')},
        sitedev:             {label: 'Site Dev',           fa_icon:'fa-wrench',         url: path('IcseMembersBundle_site_dev')},
        __account__:         {label: 'User: ' ~ app.user.fullName},
        myprofile:           {label: 'My Profile',         fa_icon:'fa-user',           url: path('IcseMembersBundle_my_profile'), role: 'ROLE_HAVE_PROFILE'},
        accountsettings:     {label: 'Settings',           fa_icon:'fa-cogs',           url: path('IcseMembersBundle_account_settings')},
        logout:              {label: 'Logout',             fa_icon:'fa-sign-out',       url: path('IcseMembersBundle_logout')},
        exitimpersonation:   {label: 'Exit Impersonation',                              url: path('IcseMembersBundle_home', {_switch_user: '_exit'}), role: 'ROLE_PREVIOUS_ADMIN'},
} %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
  '@IcseMembersBundle/Resources/style/main.scss'
  '@IcseMembersBundle/Resources/style/upload.scss'
  filter='compass,css_url_rewrite,?uglifycss'
  output='bundles/icsemembers/css/main.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %} 
<link rel="stylesheet" type="text/css" media="all" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/humanity/jquery-ui.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.mobile.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.cookie.min.js') }}"></script>
{#<script src="{{ asset('bundles/icsepublic/lib/js/jquery.ui.touch-punch.min.js') }}"></script> #}
{#<script src="{{ asset('bundles/icsepublic/lib/js/jquery.touchToClick.min.js') }}"></script>#}
{% endblock %}

{% block header_to_footer %}
<div id="nav_column">
  <div id="hidden_nav_col_cover"><div>Menu</div></div>
  <ul>
    {# ICSE Resources #}
    <li id="nav_col_head">Members Area<img title="Hide/Show" id="hide_nav_col_button" src="{{ asset('bundles/icsemembers/images/leftarrow.png') }}" /></li>
    {% set this_group = default_group %}
    {% for item_id, item in members_nav_items %}
        {% set is_header = item_id starts with '__' %}
        {% if is_header %}
            {% set this_group = default_group | merge(item) %}
        {% endif %}
        {% if is_granted(this_group.role) and (item.role is not defined or is_granted(item.role)) %}
            {% if is_header %}
                {% if this_group.label is defined %}
                    <li class="category">{{ this_group.label }}</li>
                {% endif %}
            {% else %}
                <li>
                    <a {{ item_id == currentSubSection ? 'class=current' }} href="{{ item.url }}">
                        {% if item.fa_icon is defined %}
                            <i class="fa fa-fw {{ item.fa_icon }}"></i>
                        {% endif %}
                        {{ item.label }}
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
  </ul>
</div>
<div id="section_container">
<section>
{% block content %}
{% endblock %}
</section>
</div>
<script>
  $(document).ready(function(){

    if(typeof onNavColumnToggle != 'function'){
        window.onNavColumnToggle = function(){};
    }

    var nav_col_enabled = true;
    function hideNavColumn(){
        $('#above_footer').addClass("nav_col_hidden"); 
        $('#hide_nav_col_button').addClass("rotate-180");
        nav_col_enabled = false;
        onNavColumnToggle();
    }
    function showNavColumn(){
        $('#above_footer').removeClass("nav_col_hidden"); 
        $('#hide_nav_col_button').removeClass("rotate-180");
        nav_col_enabled = true;
        onNavColumnToggle();
    }
    $('#hide_nav_col_button, #hidden_nav_col_cover').click(function(){
      if (nav_col_enabled) {
        hideNavColumn();
      }
      else {
        showNavColumn();
      }
    });
    $('#nav_column').find('li').bind('swipeleft', hideNavColumn);
    $('#hidden_nav_col_cover').bind('swiperight', showNavColumn);

    $.cookie('last_members_page', '{{ app.request.attributes.get('_route') }}', { expires: 14, path: '/' });
  })
</script>
{% endblock %}
