{% extends (freshers is defined and freshers) ? 'IcsePublicBundle:SignUp:freshers_template.html.twig' : 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentPage = 'join' %}

{% block title %} - Join Us{% endblock %}

{% block content %}

{% autoescape false %} 
{{ join_intro }}
{% endautoescape %} 

<form>
  <div class="global_errors">
    {{ form_errors(form) }} 
  </div>
</form>

<form id="username_or_email_form" style="display: none">
  <label for="username_or_email_field">Enter your Imperial username</label>
  <input id="username_or_email_field" type="text" placeholder="Eg. jfs10"/>
  <input type="submit" value="Continue"/>
  <div id="username_or_email_error" style="display: none">
    Not a valid Imperial Username or e-mail address.
  </div>
</form>

<form action="" method="post" {{ form_enctype(form) }} >
  <div class="show_if_email show_if_username">
    {{ form_row(form.first_name) }} 
    {{ form_row(form.last_name) }} 
  </div>
  <div class="never_show">
    {{ form_row(form.login) }}
  </div> 
  <div class="show_if_username">
    {{ form_row(form.email) }} 
    {{ form_row(form.department) }} 
  </div>
  <div class="show_if_email show_if_username radio">
    {{ form_row(form.player) }} 
  </div>
  <div class="show_if_player">
    <div class="radio">
      {{ form_row(form.instrument) }} 
    </div>
    <div id="other_instrument">
      {{ form_row(form.other_instrument) }} 
    </div>
    {{ form_row(form.standard) }} 
  </div>
  {{ form_rest(form) }} 
  <input class="show_if_email show_if_username" type="submit" value="Submit" />
</form>

<script>
  $('#other_instrument').remove().appendTo('#form_instrument');


  var username_or_email = "{{ username_or_email }}";
  slideTime = 300;
  isReset = true;
  player = false;
  $('#username_or_email_form').show();
  $('.show_if_email, .show_if_username, .never_show, .show_if_player').hide();
  $('#form_other_instrument').attr('placeholder', 'Please specify');
  $('#form_other_instrument').prop('disabled', true);

  var query_username_or_email = function(slideTime){
    if (isReset){
      var input = $('#username_or_email_field').val()
      $.getJSON("{{ path('IcsePublicBundle_query_username') }}",
                {input: input},
                function(data){
                  if (data['type'] == 'email'){
                    $('.show_if_email').slideDown(slideTime);
                    $('#form_email').val(input);
                    $('#form_login').val("");
                    $('#form_department').val("");
                  } else if (data['type'] == 'username'){
                    $('.show_if_username').slideDown(slideTime);
                    $('#form_first_name').val(data['first_name']);
                    $('#form_last_name').val(data['last_name']);
                    $('#form_email').val(data['email']);
                    $('#form_login').val(input);
                    $('#form_department').val(data['department']);
                  } else {
                    $('#username_or_email_error').slideDown();
                  }
                  if ((data['type'] == 'username' || data['type'] == 'email') && player == true){
                    $('.show_if_player').slideDown(slideTime);
                  }
                });
      isReset = false;
    }
  }

  if (username_or_email){
    console.log('yay');
    $('#username_or_email_field').val(username_or_email);
  }
  if ($('#username_or_email_field').val() != "")  
    query_username_or_email(0);
  $('#username_or_email_form').submit(function(e){e.preventDefault();query_username_or_email(slideTime);});

  var hideAll = function(slideTime){
    $('.show_if_email, .show_if_username, .show_if_player, #username_or_email_error').slideUp(slideTime);
    isReset = true;
  };

  $('#username_or_email_field').keyup(function(e){
    if(e.keyCode < 13 || e.keyCode == 32 || e.keyCode > 40) hideAll();
  });
  $('#username_or_email_field').bind('paste', hideAll);

  var enableDisableOtherInstrument = function(){
    if ($('#form_instrument input[value="other"]').is(':checked')){
      $('#form_other_instrument').prop('disabled', false);
      $('#form_other_instrument').prop('required', true);
    } else {
      $('#form_other_instrument').prop('disabled', true);
      $('#form_other_instrument').prop('required', false);
    }
  };
  enableDisableOtherInstrument();
  $('#form_instrument').change(enableDisableOtherInstrument);

  var showHidePlayer = function(slideTime){
    if ($('#form_player input[value="1"]').is(':checked')){
      $('input[name="form[instrument]"]').prop('required', true);
      $('#form_standard').prop('required', true);
      enableDisableOtherInstrument();
      $('.show_if_player').slideDown(slideTime);
      player = true;
    } else {
      $('.show_if_player').slideUp(slideTime);
      $('input[name="form[instrument]"]').prop('required', false);
      $('#form_standard').prop('required', false);
      $('#form_other_instrument').prop('required', false);
      player = false;
    }
  };
  showHidePlayer(0);
  $('#form_player').change(slideTime, showHidePlayer);

</script>

{% endblock %}
