{% extends 'IcseMembersBundle:Admin:entity_admin_template.html.twig' %}
{% set pageTitle = 'Members List' %}
{% set currentSubSection = 'memberslist' %}
{% set entitySingular = 'member' %}

{% block extra_entity_main_buttons %}
  <li><button class="import show_if_none_selected" type=button>Import CSV</button></li>
  <li><button class="impersonate show_if_one_selected" type=button>Impersonate</button></li>
{% endblock %}

{% set PASSWORD_IMPERIAL = constant('Icse\\MembersBundle\\Entity\\Member::PASSWORD_IMPERIAL') %}
{% set PASSWORD_NO_CHANGE = constant('Icse\\MembersBundle\\Entity\\Member::PASSWORD_NO_CHANGE') %}
{% set PASSWORD_SET = constant('Icse\\MembersBundle\\Entity\\Member::PASSWORD_SET') %}

{% block extra_content %}

<div id="import_csv_dialog" title="Import Membership List"> 
  <ul>
    <li>Go to <a href="https://eactivities.union.ic.ac.uk/admin/csp/details">eActivities</a></li>
    <li>Log in</li>
    <li>Switch role to ICSE committee member</li>
    <li>Click "Members"</li>
    <li><a href="https://eactivities.union.ic.ac.uk/common/data_handler.php?id=1700&type=csv&name=Members_Report">Download membership list</a></li>
    <li>Upload the downloaded file:</li>
  </ul>
    {{ form_start(csv_form, {'attr': {'id': 'import_csv_form'}}) }}
    {{ form_row(csv_form.csv_file) }}
    <input hidden type="submit" />
    {{ form_end(csv_form) }}
</div>

<script>
  function enableDisableNewPasswordFields(slideTime){
    if ($('#form_password_operation input[value={{ PASSWORD_SET }}]').is(':checked')){
        $('.new_password_fields').slideDown(slideTime);
        $('.new_password_fields input').prop('required', true);
    } else {
        $('.new_password_fields').slideUp(slideTime);
        $('.new_password_fields input').prop('required', false);
        $('.new_password_fields input').val('');
    }
  };
  $('#form_password_operation').change(200, enableDisableNewPasswordFields);

  $('#import_csv_dialog').dialog({
    autoOpen: false,
    modal: true,
    width: 500,
    minWidth: 500,
    height: 500,
    buttons: [
      {
        text: "Import",
        click: function(){
          $('#import_csv_form input:submit').click();
        }
      },
      {
        text: "Cancel",
        click: function(){
          $(this).dialog("close");
        }
      }
    ]
  });

  $('button.import').click(function(){
    $('#import_csv_dialog').dialog('open');
  })

  $('button.impersonate').click(function(){ // Impersonate button
    var username = $('.entity_instance_list .instance.ui-selected').data('entity').username;
    window.location = "{{ path('IcseMembersBundle_home') }}" + "?_switch_user=" + username ;
  });

  var initCreateForm = function() {
    // Member specific stuff
    $("#edit_form input[name='form[password_operation]'][value={{ PASSWORD_IMPERIAL }}]").prop('checked', true);
    enableDisableNewPasswordFields(0);
    $("#edit_form input[name='form[password_operation]'][value={{ PASSWORD_NO_CHANGE }}]").each(function(){
      $(this).hide();
      $("#edit_form label[for=" + $(this).attr('id') + "]").hide();
    });
  };

  var initEditForm = function() {
    // Member specific stuff
    $("#edit_form input[name='form[password_operation]'][value={{ PASSWORD_NO_CHANGE }}]").prop('checked', true);
    enableDisableNewPasswordFields(0);
    $("#edit_form input[name='form[password_operation]'][value={{ PASSWORD_NO_CHANGE }}]").each(function(){
      $(this).show();
      $("#edit_form label[for=" + $(this).attr('id') + "]").show();
    }); 
  };

</script>

{% endblock %}
