{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_expanded %}
{% spaceless %} 
<div class="choices_list">
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
        {{ form_label(child) }}
    {% endfor %}
    {% if extra_list_item is defined %}{{ extra_list_item }}{% endif %}
    </div>
</div>
{% endspaceless %} 
{% endblock choice_widget_expanded %}

{% block form_row %}
{% spaceless %}
    <div class="form_row">
        {{ form_label(form) }}
        <div class="form_row_main">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="error_list">{{ parent() }}</div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block time_widget %}
{% set type = 'text' %}
{% set attr = {'class': 'time'} %}
{{ parent() }}
{% endblock time_widget %}

{% block date_widget %}
{% set type = 'text' %}
{% set attr = {'class': 'date'} %}
{{ parent() }}
{% endblock date_widget %}
