{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentPage = 'home' %}

{% block title %} - Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
  '@IcsePublicBundle/Resources/style/home.scss' 
  filter='compass,css_url_rewrite,?yui_css'
  output='bundles/icsepublic/css/home.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %} 

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/icsepublic/js/lib/jquery.cycle.min.js') }}"></script> 
{% endblock %} 

{% block content %}

<div id=col_left>
  {% autoescape false %} 
  {{ home_intro }}
  {% endautoescape %}

  {% for event_group in [{label:"Today", events:today_events},
                         {label:"Tomorrow", events:tomorrow_events},
                         {label:((today_events or tomorrow_events)
                               ?"Later This Week":"This Week"), events:thisweek_events},
                         {label:"Next Week", events:nextweek_events},
                         {label:((today_events or tomorrow_events or thisweek_events or nextweek_events)
                               ?"Other Upcoming Events":"Upcoming Events"), events:future_events},
                         {label:"Previous Events", events:past_events}] %}
    {% if event_group.events %}
      <h2>{{ event_group.label }}</h2>
      {% for event in event_group.events %}
        <div class=event >
          {# Event Poster #}
          {% if event.getPoster() %}
          <a href="{{ path('IcsePublicBundle_event', event) }}" title="{{ event.getName() }}" >
            <img class=poster src="{{ path('IcsePublicBundle_resource', {'type':'images', 'file':event.getPoster().getFile(), 'size':'hpmainthumb'}) }}" />
          </a>
          {% endif %}
          {# Event Name #}
          <h3><a href="{{ path('IcsePublicBundle_event', event) }}">{{ event.getName() }}</a></h3>
          {# Event Time #}
          <div class="datetime">{{ event.getStartsAt() | date("l jS F Y, g:ia") }}</div>
          {# Event Location #}
          {% if event.getLocation() %}
            <div class="location">{{ event.getLocation().getName() }}</div>
          {% endif %}
          {# Event Repertoire #}
          {% if not event.getPerformances().isEmpty() %}
          <ul class="repertoire">
            {% for performance in event.getPerformances() %}
            <li>{{ performance.getPiece().getComposer() }}: {{ performance.getPiece().getName() }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {# Event Description #}
          {% if event.getDescription() %}
            <p>{{ event.getDescription() }}</p>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>

<script>
    $('.event img').mouseenter(function(e){
        $(this).parents('.event').find('h3 a').addClass('mouseover'); 
    });
    $('.event img').mouseleave(function(e){
        $(this).parents('.event').find('h3 a').removeClass('mouseover'); 
    });
</script>

<div id=col_right>
  <div id=slideshow >
    {% for image in slideshow_images %}
    <img width=334px height=254px src="{{ path('IcsePublicBundle_resource', {'type':'images', 'file':image.getFile(), 'size':'hpslideshow'}) }}"/>
    {% endfor %}
  </div>
  <script>
    $('#slideshow').cycle({ 
        fx:     'fadeout', 
        random:  1 
    }); 
  </script>


  {% if next_rehearsal %}
  <h2>Next Rehearsal</h2>
  <div class="datetime">{{ next_rehearsal.getStartsAt() | date("l jS F Y, g:ia") }}</div>
  <div class="location">{{ next_rehearsal.getLocation().getName() }}</div>
  {% endif %}

  <h2>News</h2>
  {#
  <img id="news_pic" src="http://Placekitten.com/64/70"/>
  <h3>Lorem Ipsum</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
  #}
  <p>Coming soon...</p>

  <h2>Twitter</h2>

  <a class="twitter-timeline" href="https://twitter.com/ICStrings" data-widget-id="248604844275929088">Tweets by @ICStrings</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 
</div>

{% endblock %}
