{% extends 'IcsePublicBundle:Default:template.html.twig' %}
{% set currentSection = 'home' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.cycle2.min.js') }}"></script>
{% endblock %} 

{% block aboveFooterAttrs %}class="homepage"{% endblock %}

{% block content %}

<div id="col_left">
  <div itemscope itemtype="http://schema.org/MusicGroup">
    <link itemprop="url" href="{{ url('IcsePublicBundle_home') }}" />
    <link itemprop="sameAs" href="https://www.imperialcollegeunion.org/activities/a-to-z/417" />
    <link itemprop="sameAs" href="https://www.facebook.com/ImperialCollegeStringEnsemble" />
    <link itemprop="sameAs" href="https://plus.google.com/103940088893023414758" />
    {% autoescape false %} 
    {{ home_intro }}
    {% endautoescape %}
  </div>
  {% set includedEventList = false %}

  {% for event_group in [{label:"Today", events:today_events},
                         {label:"Tomorrow", events:tomorrow_events},
                         {label:((today_events or tomorrow_events)
                               ?"Later This Week":"This Week"), events:thisweek_events},
                         {label:"Next Week", events:nextweek_events},
                         {label:((today_events or tomorrow_events or thisweek_events or nextweek_events)
                               ?"Other Upcoming Events":"Upcoming Events"), url:path('IcsePublicBundle_future_events'), events:future_events}] %}
    {% if event_group.events %}
      {% if event_group.url is defined %}
        <h2><a href="{{ event_group.url }}">{{ event_group.label }}</a></h2>
      {% else %}
        <h2>{{ event_group.label }}</h2>
      {% endif %}
      {% include 'IcsePublicBundle:Events:event_list_fragment.html.twig' with {'events': event_group.events, 'firstInclude': not includedEventList} %}
      {% set includedEventList = true %}
    {% endif %}
  {% endfor %}
  <h2><a href="{{ path('IcsePublicBundle_past_events') }}">Previous Events</a></h2>
  <div id="past_events_strip">
  {% spaceless %} 
  {% for event in past_events %}
      <a href="{{ path('IcsePublicBundle_event', event) }}" title="{{ event.getName() }}" >
        <img alt="" src="{{ path('IcsePublicBundle_resource', {object: event.poster, 'size':'hpimagestrip'}) }}" />
      </a>
  {% endfor %}
  {% endspaceless %} 
  </div>
  <div id="past_events_more"><a href="{{ path('IcsePublicBundle_past_events') }}">more...</a></div>
  <div id="past_event_title"></div>
</div>

<script>
  var past_events_strip = $('#past_events_strip');
  past_events_strip.find('a').each(function(){
    $(this).data('title', $(this).attr('title')).removeAttr('title'); 
  });

  past_events_strip.find('a').hover(function(){
    $('#past_event_title').html($(this).data('title'));
  }, function(){
    $('#past_event_title').html('');
  });

  (function() {
    var images = past_events_strip.find('img');
    var original_total_width = 0;
    var required_total_width = 580;
    var onloads_completed = 0;
    images.each(function() {
      var origImg = new Image(); 
      origImg.onload = (function(visibleImg) {
        return function(){
          original_total_width += this.width;
          $(visibleImg).data('origWidth', this.width);
          onloads_completed += 1;
          if (onloads_completed === images.size()) {
            var scale_factor = required_total_width / original_total_width;
            if (scale_factor > 1) scale_factor = 1;
            images.each(function(){
              $(this).width($(this).data('origWidth')*scale_factor);
            });
          }
        }
      })(this);
      origImg.src = $(this).attr('src'); 
    });
  })(); 
</script>

<div id="col_right">
  <div class="cycle-slideshow"
       data-cycle-fx="fadeout"
       data-cycle-random="true"
       data-cycle-speed="1000"
       data-cycle-timeout="3000"
       data-cycle-log="false"
    >
    {% for image in slideshow_images %}
    <img alt="" width=334 height=254 src="{{ path('IcsePublicBundle_resource', {'object': image, 'size':'hpslideshow'}) }}"/>
    {% endfor %}
  </div>

  {% if next_rehearsal %}
  <h2>Next Rehearsal</h2>
  <div id="next_rehearsal">
  <div class="datetime">{{ next_rehearsal.getStartsAt() | date("l jS F Y, g:ia") }}</div>
  {% if next_rehearsal.getLocation() %}
  <div class="location">{{ next_rehearsal.getLocation().getName() }}</div>
  {% endif %}
  </div>
  {% endif %}

  {% if news_articles is not empty %}
  <h2><a href="{{ path('IcsePublicBundle_news') }}">News</a></h2>
  {% include 'IcsePublicBundle:News:news_list_fragment.html.twig' with {'articles': news_articles, 'img_size': 'hpsidethumb'} %}  
  {% endif %}

  <h2><a href="http://www.facebook.com/ImperialCollegeStringEnsemble">Facebook</a></h2>
  <iframe id="facebook_widget" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FImperialCollegeStringEnsemble&amp;width=334&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:334px; height:290px;" allowTransparency="true"></iframe>

  <h2>Follow Us</h2>
  <div>
    <a href="https://twitter.com/icstrings" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @icstrings</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="g-plus-section">
    <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/103940088893023414758" data-rel="publisher"></div>
    <script type="text/javascript">
      window.___gcfg = {lang: 'en-GB'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div>

  <h2>Affiliates</h2>
  {% spaceless %}
  <ul id="sponsors-section">
    <li><a href="https://www.imperialcollegeunion.org"><img alt="Imperial College Union" width=100 src="{{ asset('bundles/icsepublic/images/union_logo.png') }}"></a></li>
    <li><a href="http://www3.imperial.ac.uk/arts"><img alt="Arts Imperial" width=100 src="{{ asset('bundles/icsepublic/images/arts_imperial_logo.png') }}"></a></li>
  </ul>
  {% endspaceless %}


</div>

{% endblock %}
