{% extends 'IcsePublicBundle:Default:template.html.twig' %} 

{% block navbars %}
{{ parent() }}
<div id="sub_nav">
<ul>
  {% for item in subnav_items %}
  <li>
      {% if currentSubSection != item.id or breadcrumbs is not defined %}
        <a {% if currentSubSection == item.id %}class=current{% endif %} href="{{ item.url }}" >{{ item.label}}</a>
      {% else %}
        <ul>
          <li><a class="crumb" href="{{ item.url }}" >{{ item.label}}</a></li>
          {% for crumb in breadcrumbs %}
            <li>
            <a class={% if loop.last %}"current"{% else %}"crumb midcrumb"{% endif %} href="{{ crumb.url }}" >{{ crumb.label}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
  </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
