{% macro navbar_item(currentId, id, label, route) %}
{% spaceless %}
<li><a {% if id == currentId %}class='current'{% endif %} href="{{ path(route) }}">{{ label }}</a></li>
{% endspaceless %}
{% endmacro %}
<!DOCTYPE HTML>
<html>
{% spaceless %}
<head>
<title>
  {% if pageTitle is defined %}
  {{ pageTitle }} -
  {% endif %}
  Imperial College String Ensemble
</title>
<meta charset="UTF-8"> 
<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"> 
{% block stylesheets %}
{% stylesheets 
  '@IcsePublicBundle/Resources/style/main.scss'
  filter='compass,css_url_rewrite,?yui_css'
  output='bundles/icsepublic/css/main.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
{% endblock %}
{% endspaceless %}
</head>
<body>
  <div id="above_footer" {% block aboveFooterAttrs %}{% endblock %}>
    <header>
    <hgroup>
    <h1>
      <a href="{{ path('IcsePublicBundle_home') }}"><img src="{{ asset('bundles/icsepublic/images/banner_logo.png') }}" alt="Imperial College String Ensemble"/></a>
    </h1>
    </hgroup>
    </header>
    <nav>
    {% block navbars %}
    <div id="top_nav">
      <ul>
        {{ _self.navbar_item(currentSection, 'home', 'Home', 'IcsePublicBundle_home') }}
        {{ _self.navbar_item(currentSection, 'news', 'News', 'IcsePublicBundle_news') }}
        {{ _self.navbar_item(currentSection, 'about', 'About Us', 'IcsePublicBundle_about') }}
        {{ _self.navbar_item(currentSection, 'events', 'Events', 'IcsePublicBundle_events') }}
        {{ _self.navbar_item(currentSection, 'join', 'Join Us', 'IcsePublicBundle_join') }}
        {{ _self.navbar_item(currentSection, 'support', 'Support Us', 'IcsePublicBundle_support') }}

        <div id="members_area_button" {% if status_code is not defined %}{% if is_granted('ROLE_USER') %}class="logged_in"{% endif %}{% endif %} >
        {{ _self.navbar_item(currentSection, 'members', 'Members', 'IcseMembersBundle_home') }}
        </div>
      </ul>
    </div>
    {% endblock navbars %}
    </nav>
    {% block header_to_footer %}
    <section>
    {% block content %}{% endblock %}
    </section>
    {% endblock %}
    <div class="footer_push"></div>
  </div>
  <footer>
  Copyright &copy; 2005&ndash;{{ "now" | date ("Y") }} Imperial College String Ensemble | <a href="{{ path('IcsePublicBundle_contact') }}">Contact Us</a>
  </footer>
  {# Google Analytics #}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37318585-1']);
    _gaq.push(['_setCookiePath', '/arts/stringensemble']); 
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script> 
</body>
</html>
