{% macro navbar_item(currentId, id, label, route) %}
<li {% if id == currentId %}class='current'{% endif %}><a href="{{ path(route) }}">{{ label }}</a></li>{% endmacro %}
<!DOCTYPE HTML>
<html>
<head>
<title>
  Imperial College String Ensemble{% block title %}{% endblock %}
</title>
<meta charset="UTF-8"> 
<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"> 
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/icsepublic/css/main.css') }}" />
{% endblock %}
{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script> 
{% endblock %}
</head>
<body>
  <div id="above_footer" {% block aboveFooterAttrs %}{% endblock %}>
    <header>
    <hgroup>
    <h1>
      <a href="{{ path('IcsePublicBundle_home') }}"><img src="{{ asset('bundles/icsepublic/images/banner_logo.png') }}" alt="Imperial College String Ensemble"/></a>
    </h1>
    </hgroup>
    </header>
    <nav>
    <ul>
      {{ _self.navbar_item(currentPage, 'home', 'Home', 'IcsePublicBundle_home') }}
      <li><a href="#">News</a></li>
      {{ _self.navbar_item(currentPage, 'about', 'About Us', 'IcsePublicBundle_about') }}
      <li><a href="#">Events</a></li>
      {{ _self.navbar_item(currentPage, 'join', 'Join Us', 'IcsePublicBundle_join') }}
      <div {% if status_code is not defined %}{% if is_granted('ROLE_USER') %}class="logged_in"{% endif %}{% endif %} >
      {{ _self.navbar_item(currentPage, 'members', 'Members', 'IcseMembersBundle_home') }}
      </div>
      {{ _self.navbar_item(currentPage, 'support', 'Support Us', 'IcsePublicBundle_support') }}
    </ul>
    </nav>
    {% block header_to_footer %}
    <section>
    {% block content %}{% endblock %}
    </section>
    {% endblock %}
    <div class="footer_push"></div>
  </div>
  <footer>
  Copyright &copy; 2005&ndash;{{ "now" | date ("Y") }} Imperial College String Ensemble | <a href="{{ path('IcsePublicBundle_contact') }}">Contact Us</a>
  </footer>
</body>
</html>
