{% macro navbar_item(currentId, id, label) %}
<li {% if id == currentId %}class='current'{% endif %}><a href="{{ path('IcsePublicBundle_' ~ id ) }}">{{ label }}</a></li>{% endmacro %}

<html>
<head>
<title>
  Imperial College String Ensemble{% block title %}{% endblock %}
</title>
<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/icsepublic/css/main.css') }}" />
</head>
<body>
  <div id="above_footer">
    <header>
    <hgroup>
    <h1>
      <a href="{{ path('IcsePublicBundle_home') }}"><img src="{{ asset('bundles/icsepublic/images/banner_logo.png') }}" alt="Imperial College String Ensemble"/></a>
    </h1>
    </hgroup>
    </header>
    <nav>
    <ul>
      {{ _self.navbar_item(currentPage, 'home', 'Home') }}
      <li><a href="#">News</a></li>
      {{ _self.navbar_item(currentPage, 'about', 'About Us') }}
      <li><a href="#">Events</a></li>
      <li><a href="#">Join Us</a></li>
      <li><a href="#">Members</a></li>
      {{ _self.navbar_item(currentPage, 'support', 'Support Us') }}
    </ul>
    </nav>
      <section>
      {% block content %}{% endblock %}
      </section>
  </div>
  <footer>
  Copyright &copy; 2005&ndash;{{ "now" | date ("Y") }} Imperial College String Ensemble | <a href="{{ path('IcsePublicBundle_contact') }}">Contact Us</a>
  </footer>
</body>
</html>
