{% set main_nav_items = [
              {label: 'Home', id:'home', url: path('IcsePublicBundle_home')},
              {label: 'News', id:'news', url: path('IcsePublicBundle_news')},
              {label: 'About Us', id:'about', url:path('IcsePublicBundle_about')},
              {label: 'Events', id:'events', url:path('IcsePublicBundle_events')},
              {label: 'Join Us', id:'join', url:path('IcsePublicBundle_join')},
              {label: 'Support Us', id:'support', url:path('IcsePublicBundle_support')},
              {label: 'Members', id:'members', url:path('IcseMembersBundle_return')}
] %}
{% set allow_nav = no_nav is defined ? not no_nav : true %}
<!DOCTYPE HTML>
<html>
{% spaceless %}
<head>
<title>
  {% if pageTitle is defined %}
  {{ pageTitle }} -
  {% endif %}
  Imperial College String Ensemble
</title>
<!--[if lt IE 9]>
<script src="{{ asset('bundles/icsepublic/lib/js/html5shiv-printshiv.js') }}"></script>
<![endif]--> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=994"> 
<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"> 

{% block stylesheets %}
{% stylesheets 
  '@IcsePublicBundle/Resources/style/main.scss'
  '@IcsePublicBundle/Resources/style/home.scss'
  filter='compass,css_url_rewrite,?yui_css'
  output='bundles/icsepublic/css/main.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets 
  '@IcsePublicBundle/Resources/style/print.scss'
  filter='compass,css_url_rewrite,?yui_css'
  output='bundles/icsepublic/css/print.css'
%}
<link rel="stylesheet" type="text/css" media="print" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="{{ asset('bundles/icsepublic/lib/js/jquery.timeago.min.js') }}"></script> 
{% endblock javascripts %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-53082829-1', 'auto');
    ga('send', 'pageview');
</script>

{% endspaceless %}
</head>
<body>
  <div id="above_footer" {% block aboveFooterAttrs %}{% endblock %}>
    <header>
    <hgroup>
    <h1>
      {% if allow_nav %}<a href="{{ path('IcsePublicBundle_home') }}">{% endif %}
      <img height=139 src="{{ asset('bundles/icsepublic/images/banner_logo.png') }}" alt="Imperial College String Ensemble"/>
      {% if allow_nav %}</a>{% endif %}
    </h1>
    </hgroup>
    </header>
    <nav>
    {% block navbars %}
    <div id="top_nav">
      {% if allow_nav %}
      <ul>
        {% for item in main_nav_items %}
        <li {% if item.id == 'members' %}
                id="members_area_button" 
                {% if status_code is not defined %}{% if is_granted('ROLE_USER') %}class="logged_in"{% endif %}{% endif %}
            {% endif %}
        >
            <a {% if item.id == currentSection %}class='current'{% endif %} href="{{ item.url }}">{{ item.label }}</a>
        </li> 
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endblock navbars %}
    </nav>
    {% block header_to_footer %}
    <div id="header_to_footer">
    <section>
    {% block content %}{% endblock %}
    </section>
    </div>
    {% endblock %}
    <div class="footer_push"></div>
  </div>
  <footer>
  Copyright &copy; 2005&ndash;{{ "now" | date ("Y") }} Imperial College String Ensemble {% if allow_nav %}| <a href="{{ path('IcsePublicBundle_contact') }}">Contact Us</a>{% endif %}
  </footer>
  {#
  <script type="text/javascript"> 
    // Notify old browser
    
    var $buoop = {} 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
     try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
     var e = document.createElement("script"); 
     e.setAttribute("type", "text/javascript"); 
     e.setAttribute("src", "http://browser-update.org/update.js"); 
     document.body.appendChild(e); 
    }
  </script> 
  #}
</body>
</html>
